casamamaco.com.br {
	encode gzip
	header X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, noimageindex"
	reverse_proxy app:3000
}

www.casamamaco.com.br {
	redir https://casamamaco.com.br{uri} permanent
}
